{% extends 'base.html' %}

{% load static %}

{% block title %}{% block inner_title %}RGD AIRE - CRM y Gestión de Proyectos{% endblock %}{% endblock %}

{% block extra_css %}
    <!-- Select2 CSS -->
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    {% block inner_css %}{% endblock %}
{% endblock %}

{% block content %}
    {% block inner_content %}{% endblock %}
{% endblock %}

{% block extra_js %}
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Select2 JS -->
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    {% block inner_js %}{% endblock %}
{% endblock %}